<div class="row marketing">
  <h1>Thread Time Manager</h1>
  <p>
    How many things can you do at once? One! This application organizes your day into 20 minute chunks with built in breaks.
    Focus on one thing at a time and add new tasks to the end of the thread.
  </p>
  <h5>Get Started!</h5>
  <p>
    To start with thread, add a task via the form below.
  </p>
</div>
</div class="thread-container container">
<div class="row">
  <div class="col-xs-6">
  </br>
    <form>
      <div class="form-group">
        <label for="taskName">Task Name: </label>
        <input type="text" class="form-control" id="taskName" ng-model="main.typeTaskValue"/>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="main.addTask(main.typeTaskValue)">Submit</button>
      <button type="button" class="btn btn-primary" ng-click="main.removeTask()">Finish task</button>
    </form>
    <h5>Upcoming Tasks</h5>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in main.upcomingTasks | limitTo: (1 - main.upcomingTasks.length)">{{task}}</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <div class="timer-area">
      <h1>20:00</h1>
      <p class="alert alert-info" ng-if="main.upcomingTasks.length">Current Task: {{main.upcomingTasks[0]}}</p>
      <h5>Completed Tasks</h5>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="task in main.completedTasks">{{task}}</li>
      </ul>
    </div>
  </div>
  </row>
</div>
