<div class="row marketing">
  <h4>Thread Time Manager</h4>
  <p>
    How many things can you do at once? One! This application organizes your day into 20 minute chunks with built in breaks.
    Focus on one thing at a time and add new tasks to the end of the thread.
  </p>
  <h5>Get Started!</h5>
  <p>
    To start with thread, add a task via the form below.
  </p>
</div>
</div class="thread-container container">
<div class="row">
  <div class="col-xs-6">
  </br>
    <form>
      <div class="form-group">
        <label for="taskName">Task Name: </label>
        <input type="text" class="form-control" id="taskName" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h5>Upcoming Tasks</h5>
    <ul class="list-group">
      <li class="list-group-item">Task 1</li>
      <li class="list-group-item">Task 2</li>
      <li class="list-group-item">Task 3</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <div class="timer-area">
      <h1>20:00</h1>
      <p class="alert alert-info">Current Task: Task 0</p>
      <h5>Completed Tasks</h5>
      <ul class="list-group">
        <li class="list-group-item">Task -1</li>
        <li class="list-group-item">Task -2</li>
        <li class="list-group-item">Task -3</li>
      </ul>
    </div>
  </div>
  </row>
</div>
